{% if is_paginated %}
  {% with btn_class="btn btn-sm btn-secondary" %}
  <div>
  {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}" class="{{ btn_class }}">
      <i class="fas fa-chevron-circle-left"></i>上一頁
    </a>
  {% endif %}
  {% for page in paginator.page_range %}
    {% if page == page_obj.number %}
      <button class="{{ btn_class }}" disabled>{{ page }}</button>
    {% else %}
      <a href="?page={{ page }}" class="{{ btn_class }}">{{ page }}</a>
    {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="{{ btn_class }}">
      下一頁<i class="fas fa-chevron-circle-right"></i>
    </a>
  {% endif %}
  </div>
  {% endwith %}
{% endif %}