{% extends "base.html" %}

{% block content %}
<table class="table table-sm">
  <thead>
    <tr class="text-light bg-dark">
      <th>上傳時間</th>
      <th>公/私立</th>
      <th>類別</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for topic in topic_list %}
    <tr>
      <td>{{topic.created|date:"Y/m/d H:i"}}</td>
      <td>
        <a href="{% url 'topic_view' topic.id %}">{{ topic.subject }}</a>
      </td>
      <td>{{ topic.classes }}<td>
      <td>
        {% if perms.topic.delete_topic %}
        <a href="{% url 'topic_delete' topic.id %}" class="btn btn-sm btn-danger float-right">刪除主題</a>
        {% endif %}  
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include "pagination.html" %}
{% endblock %}