{% extends "base.html" %}

{% block content %} 
<div class="card">
  <div class="card-header d-md-flex justify-content-between">
    <div class="h3">{{ topic.subject }}</div>
    
    <div class="text-muted">
      <small><i class="fas fa-clock"></i> {{ topic.created|date:"Y/m/d H:i" }}</small>
    </div>
  </div>
  <div class="card-body">
    {% if perms.topic.delete_topic %}
    <a href="{% url 'topic_delete' topic.id %}" class="btn btn-sm btn-danger float-right">刪除主題</a>
    {% endif %}
    {{ topic.content|linebreaks }}
  </div>
</div>
{% endblock %}